importFrom("graphics", "plot", "lines")
importFrom("geneplotter", "imageMap")

import("methods")
                                                                                
export(
        agopen,			# Rgraphviz
        agread,			# Rgraphviz
        agwrite,		# Rgraphviz
        buildEdgeList,		# Rgraphviz
        buildNodeList,		# Rgraphviz
        checkAttrs,		# defaultAttrs
        drawAgNode,		# graph
        drawTxtLabel,		# graph
        getDefaultAttrs,	# defaultAttrs
        getNodeLabels,		# Rgraphviz
        getNodeNames,		# Rgraphviz
        graphvizVersion,	# Rgraphviz
        layoutGraph,		# Rgraphviz
        makeNodeAttrs,		# own
        pieGlyph,		# own
        removedEdges,		# Rgraphviz

	LLgetAttrsGraph,
	LLgetDefAttrsGraph,
	LLsetAttrsGraph,
	LLsetDefAttrsGraph,

	LLgetAttrsNode,
	LLgetDefAttrsNode,
	LLsetAttrsNode,
	LLsetDefAttrsNode,

	LLgetAttrsEdge,
	LLgetDefAttrsEdge,
	LLsetAttrsEdge,
	LLsetDefAttrsEdge,

	LLgetDefAttrs,
	LLsetDefAttrs,
	LLtoFile,
	LLagopen
	)

exportClasses(			# Ragraph
                "AgEdge",
                "AgNode",
                "AgTextLabel",
                "BezierCurve",
                "boundingBox",
                "pEdge",	# plot, related to buildEdgeList only
                "pNode",	# plot, related to buildNodeList only
                "Ragraph",
                "xyPoint"
	)

exportMethods(	
		##LLattrDefaults,
      		##LL"attrDefaults<-", 
		##LLedgeDataDefaults, 
		##LL"edgeDataDefaults<-",
      		##LLnodeDataDefaults, 
		##LL"nodeDataDefaults<-", 
		##LLedgeData, 
		##LL"edgeData<-", 
		##LLnodeData,
      		##LL"nodeData<-"
		# Ragraph +
                "AgEdge<-",
                "AgEdge",
                "AgNode<-",
                "AgNode",
                "agraph",
                "arrowhead",
                "arrowsize",
                "arrowtail",
                "bezierPoints",
                "bLines",
                "botLeft",
                "boundBox",
                "color",
                "cPoints",
                "edgemode",
                "edgeNames",
                "ep",
                "fillcolor",
                "from",			# plot only
                "getNodeCenter",
                "getNodeHeight",
                "getNodeLW",
                "getNodeRW",
                "getNodeXY",
                "getNodeXY",
                "getPoints",
                "getSpline",
                "getX",
                "getY",
                "head",
                "imageMap",		# imageMap only
                "labelColor",
                "labelFontsize",
                "labelJust",
                "labelLoc",
                "labelText",
                "labelWidth",
                "laidout",
                "layoutType",
                "lines",
                "name",			# plot
                "numSplines",
                "plot",			# graph only
                "pointList",
                "shape",
                "show",
                "sp",
                "splines",
                "style",
                "tail",
                "to",			# plot only
                "toDot",		# graph only
                "txtLabel",
                "upRight"
	)

