importFrom("graphics", "plot", "lines")
importFrom("geneplotter", "imageMap")
                                                                                
export(agopen, agwrite, agread, graphvizVersion, buildNodeList,
        buildEdgeList, removedEdges, getDefaultAttrs, 
        getNodeNames, getNodeLabels, checkAttrs, layoutGraph, makeNodeAttrs, pieGlyph,
        drawAgNode, drawTxtLabel)
                                                                                
exportClasses("Ragraph", "boundingBox", "AgNode", "AgEdge",
              "BezierCurve", "xyPoint", "AgTextLabel", "pNode", "pEdge")
                                                                                
exportMethods("lines", "plot", "AgNode", "AgNode<-", "getNodeXY", "agraph",
"edgemode", "laidout", "layoutType", "boundBox", "AgEdge", "AgEdge<-",
"getNodeXY", "botLeft", "upRight", "shape", "style", "color",
"fillcolor", "getNodeCenter", "getNodeHeight", "getNodeRW",
"getNodeLW", "name", "txtLabel", "arrowsize", "arrowhead",
"arrowtail", "splines", "sp", "ep", "head", "tail", "numSplines",
"getSpline", "cPoints", "pointList", "bezierPoints", "bLines", "getX",
"getY", "getPoints", "labelText", "labelColor", "labelLoc",
"labelJust", "labelWidth", "labelFontsize", "show", "edgeNames",
"edgeL", "toDot", "imageMap", "from", "to")
